body {
  overflow: hidden;
}

div {  
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.App {
  text-align: center;
  overflow: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.xterm .xterm-viewport {
  overflow: hidden;
}

.sshform-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.sshform {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: rgba(216, 30, 91, 0.5);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.sshform-input {
  border: none;
  background: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;
  padding: 4px;
  margin: 4px;
}

.sshform-button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}

.sshform-button:hover {
  background-color: rgba(255, 0, 0, 0.2);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
